<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUser</title>
</head>
<body>
<form action="#" method="POST" th:action="@{/addUser}" th:object="${user}">
            <label for="name">Enter name</label>
            <input type="text" th:field="*{name}" id="name" required/>
            <label for="surname">Enter surname</label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <label for="age">Enter age</label>
            <input type="number"  th:field="*{age}" id="age">
            <input type="submit" class="buttonAdd" value="Add User"/>
</form>
</body>
</html>